@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 194 31% 96%;
    --foreground: 191 100% 7%;
    --card: 0 0% 100%;
    --card-foreground: 191 100% 7%;
    --primary: 189 100% 32%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 20% 96%;
    --secondary-foreground: 191 100% 7%;
    --muted: 210 20% 96%;
    --muted-foreground: 215 16% 45%;
    --accent: 210 20% 96%;
    --accent-foreground: 191 100% 7%;
    --destructive: 336 79% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 189 100% 32%;
    --sidebar: 191 100% 7%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-muted: 215 16% 75%;
    --sidebar-accent: 0 0% 100% / 0.12;
    --sidebar-accent-foreground: 0 0% 100%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  html,
  body {
    font-family: var(--font-manrope), sans-serif;
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 9999px;
  }
}
